/* heading text */
.headingText{

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    
    position: absolute;
    width: 321px;
    height: 160px;
    left: calc(50% - 321px/2);
    top: 94px;
    
    
    }
    /* heading */
    .heading{
    width: 283px;
    height: 108px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
    
    }
    /* Imagine if had events. */
    .hadevent{
    
    position: absolute;
    width: 283px;
    height: 108px;
    left: 19px;
    top: 0px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 66px;
    /* or 100% */
    
    text-align: center;
    
    color: #240D57;
    
    
    
    }
    /* Snapchat */
    .snapchat{
    position: absolute;
    width: 163px;
    height: 49px;
    left: 79px;
    top: 44px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    
    background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
    
    }
    
    .paragraphText{
    /* Easily host and share events with your friends across any social media. */
    
    
    width: 321px;
    height: 36px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    
    color: #4F4F4F;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    
    
    }
    /* image 1  phone*/
    
    .image{
    position: absolute;
    width: 165.63px;
    height: 292px;
    left: calc(50% - 165.63px/2 + 0.32px);
    top: 290px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('Landing.svg');
    filter: drop-shadow(0px 0px 17.6435px rgba(0, 0, 0, 0.05));
    border-radius: 13.2326px;
    
    }
    
    
    
    .button{
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
    gap: 10px;
    
    position: absolute;
    width: 187px;
    height: 50px;
    left: calc(50% - 187px/2);
    top: 616px;
    
    background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
    border-radius: 10px;
    }
    .button>p{
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    
    color: #FFFFFF;
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    
    }
    
    /* image 1 ipad */
    
    @media(min-width:700px){
        .image{
        
        position: absolute;
        width: 440px;
        height: 775.69px;
        left: calc(50% - 440px/2 - 366px);
        top: 100px;
        
        background-image: url('Landing.svg');
        filter: drop-shadow(0px 0px 46.8696px rgba(0, 0, 0, 0.05));
        border-radius: 35.1522px;      
        }
        .headingText{
        /* Imagine if had events. */
        
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0px;
        gap: 16px;
        
        position: absolute;
        width: 574px;
        height: 264px;
        left: calc(50% - 534px/2 + 309px);
        top: 306px;
        
        
        }
        .button{
        /* Button */
        
        
        /* Auto layout */
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 10px;
        
        position: absolute;
        width: 320px;
        height: 55px;
        left: calc(50% - 320px/2 + 436px);
        top: 622px;
        
        background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
        border-radius: 10px;
        
        }
    .heading{
        position: absolute;
        width: 573.91px;
        height: 192px;
        left: 0px;
        top: 0px;
        
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        /* or 100% */
        
        text-align: right;
        
        color: #240D57;
    
    
    }
    
    
        .paragraphText{
            width: 521px;
            height: 56px;
            margin-top: 100px;
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
            text-align: right;
            
            color: #4F4F4F;
            
            
            /* Inside auto layout */
            
           
        }
        .hadevent {
            position: relative;
            width: 959px;
            height: 108px;
            left: 0;
            top: 0px;
            
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 66px;
        }
        .snapchat{
            position: absolute;
            width: 830px;
            height: 49px;
            left: 79px;
            top: 44px;
            
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 41px;
            text-align: center;
        
            
            }
        }
        